{% extends "layout.html" %}

{% block content %}




<div class="container">
  <div class="pt-3">
    <div class="text-center">
      <h5> ETH price: ${{current_eth_price}}<h5>
    </div>
  </div>
  <div class="row">
    <div class="pt-5 mt-3 card">
        <h4>latest blocks <i class="bi bi-activity"></i></h4>
        <table class="table table-sm table-striped border-top border-bottom border-3">
          {% for block in latest_blocks %}
          <tr>
              <td>
                <h5>block</h5>
                <a href="/block/{{ block.number }}">{{ block.number }}</a>
                <p>{{ (current_time - block.timestamp) |int}} seconds ago <i class="bi bi-clock"></i></p>
              </td>
              <td>
                <h5>miner</h5>
                <a href="/address/{{ block.miner }}">{{ block.miner }}</a>
                <p>{{ block.transactions |length}} txs</p>
              </td>
              <td>
                <p>gas used: {{ block.gasUsed | numberFormat }}</p>
              </td>
          </tr>
          {% endfor %}
        </table>
    </div>
    <div class="pt-5 mt-3 card">
        <h4>latest transactions</h4>
        <table class="table table-sm table-striped border-top border-bottom border-3">
          {% for tx in latest_transactions %}
          <tr>
            <td>
              <p>transaction:</p>
              <p><a href="/tx/{{ tx.hash.hex() }}">{{tx.hash.hex()}}</a></p>
            </td>
            <td>
              <p>from: <a href="/tx/{{ tx.from }}">{{tx.from}}</a></p>
              <p>to: <a href="/tx/{{ tx.to }}">{{tx.to}}</a></p>
            </td>
          </tr>
          {% endfor %}
        </table>
    </div>
  </div>
</div>

{% endblock %}
