{% extends "layout.html" %}

{% block content %}

<div class="container">
  <h5>transaction</h5>
  <table class="table table-striped">
    <tr>
      <td>from:</td>
      <td><a href="/address/{{transaction.from}}">{{transaction.from}}</a></td>
      </tr>
      <tr>
        <td>to: </td>
        <td><a href="/address/{{transaction.to}}">{{transaction.to}}</a></td>
      </tr>
      <tr>
        <td>gas: </td>
        <td>{{transaction.gas | numberFormat}}</td>
      </tr>
      <tr>
        <td>gas price: </td>
        <td>{{transaction.gasPrice | numberFormat}}</td>
      </tr>
  </table>
</div>

{% endblock %}
